<div class="events">
  
  <h2>Evenemang</h2>
  
  <div class="event">
    <img src="pictures/picture6.webp" alt="">
      <h4> Event 1 </h4>
      <h6> 5 Juni 2024 </h6>
      <div class="location"><span class="material-symbols-outlined">pin_drop</span><p>Halmstad</p></div>
  </div>

  <div class="event">
    <img src="pictures/picture7.webp" alt="">
      <h4> Event 1 </h4>
      <h6> 2 Augusti 2024 </h6>
      <div class="location"><span class="material-symbols-outlined">pin_drop</span><p>Göteborg</p></div>
  </div>
  
  <div class="event">
    <img src="pictures/picture3.webp" alt="">
      <h4> Event 3 </h4>
      <h6> 18 December 2024 </h6>
      <div class="location"><span class="material-symbols-outlined">pin_drop</span><p>Stockholm</p></div>
  </div>
  
  
</div>